.carousel-control-prev[b-n1yal11hkw], .carousel-control-next[b-n1yal11hkw] {
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    background: #3e3f41;
    color: lightgray;
    border-radius: 100%;
    padding: 10px;
    height: 40px;
    width: 40px;
    position: relative;
    cursor: pointer;
}

.carousel-indicators li[b-n1yal11hkw] {
    background-color: #007bff;
}
