@inherits LayoutComponentBase

<PageTitle>TGDD_Clone</PageTitle>

<div class="page">
    <NavMenuContent>
        <NavMenu /> 
    </NavMenuContent>

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
    <div class="footer">
        <Footer />
    </div>
</div>
