.nav-logo {
    background-position: 0 0;
    width: 103px;
    height: 35px;
    background-image: url(//cdn.tgdd.vn/mwgcart/topzone/images/icon-topzone.webp);
    background-repeat: no-repeat;
    display: inline-block;
    line-height: 30px;
    vertical-align: middle;
    background-size: 514px 226px;
}

.nav-autho {
    background-image: url(//cdn.tgdd.vn/mwgcart/topzone/images/APR_logo.webp);
    width: 32px;
    height: 40px;
    background-size: 100%;
    background-repeat: no-repeat;
    display: inline-block;
    line-height: 30px;
    vertical-align: middle;
}

.nav-search-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    background: #2f3033;
    border-radius: 100%;
    padding: 10px;
    height: 40px;
    width: 40px;
    position: relative;
    cursor: pointer;
}



.nav-search-icon:hover{
    background-color: #5e5e60;
}

@media (min-width: 641px) {
    .navbar-toggler {
        display: none;
    }

    .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
    
    .nav-scrollable {
        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}