.nav-search-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    background: #2f3033;
    border-radius: 100%;
    padding: 10px;
    height: 40px;
    width: 40px;
    position: relative;
    cursor: pointer;
}

.nav-search-icon:hover{
    background-color: #5e5e60;
}

.navbar-toggler {
    background-color: #2f3033;
}

.navbar-toggler:hover{
    background-color: #5e5e60;
}

.top-row {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.nav-item {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

.nav-item:first-of-type {
    padding-top: 1rem;
}

.nav-item:last-of-type {
    padding-bottom: 1rem;
}

.nav-item ::deep a {
    color: #d7d7d7;
    border-radius: 4px;
    height: 3rem;
    display: flex;
    align-items: center;
    line-height: 3rem;
}

.nav-item ::deep a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item ::deep a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

.nav-logo {
    background-position: 0 0;
    width: 103px;
    height: 35px;
    background-image: url(//cdn.tgdd.vn/mwgcart/topzone/images/icon-topzone.webp);
    background-repeat: no-repeat;
    display: inline-block;
    line-height: 30px;
    vertical-align: middle;
    background-size: 514px 226px;
}

.nav-autho {
    background-image: url(//cdn.tgdd.vn/mwgcart/topzone/images/APR_logo.webp);
    width: 32px;
    height: 40px;
    background-size: 100%;
    background-repeat: no-repeat;
    display: inline-block;
    line-height: 30px;
    vertical-align: middle;
}

/* @media (min-width: 641px) {
    .un-collapse {
        display: none;
    }
} */

@media (min-width: 793px) {
    .navbar-toggler {
        display: none;
    }

    .collapse {
        /* Never collapse the sidebar for wide screens */
        display: none;
    }
}

@media (max-width: 793px) {
    .navcontainer {
        display: none;
    }
}