<FluentHeader Height="70" Style="background-color: black;">
    <FluentGrid Justify="JustifyContent.Center" >
        <FluentGridItem  md="10">
            <FluentGrid Justify="JustifyContent.SpaceBetween">
                <FluentGridItem  md="3">
                    <div class="logo">
                        <FluentStack Orientation="Orientation.Horizontal" VerticalAlignment="VerticalAlignment.Center">
                            <span><i class="nav-logo"></i></span>
                            <FluentDivider Style="height: 2em;" Role="DividerRole.Separator" Orientation="Orientation.Vertical"></FluentDivider>
                            <span><i class="nav-autho"></i></span>
                        </FluentStack>
                    </div>
                </FluentGridItem>
                <FluentGridItem Style="color: white; align-items: center;" Justify="JustifyContent.Center" md="6">
                    <a href="#">Phone</a>
                    <a href="#">Phone</a>
                    <a href="#">Phone</a>
                    <a href="#">Phone</a>
                </FluentGridItem>
                <FluentGridItem md="3">
                    <FluentIcon Value="@(new Icons.Regular.Size24.Search())" Color="@Color.Fill"/>
                    <FluentSearch Placeholder="Placeholder"></FluentSearch>
                </FluentGridItem>
            </FluentGrid>
        </FluentGridItem>
    </FluentGrid>
</FluentHeader>
