@inject HttpClient HttpClient
<div class="cart-item text-white">
    <a @onclick="OnRemove"  class="delete-item text-decoration-none">x</a>
    <div class="title">@phone.Model</div>
    <div class="item-price">
        @phone.GetTotalPrice()
    </div>
</div>



@code {
    [Parameter] public Phone phone { get; set; }
    [Parameter] public EventCallback OnRemove {get; set;}
}