/* _content/TGDD_Clone_2/Shared/MainLayout.razor.rz.scp.css */
.page[b-332m3dz4ee] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-332m3dz4ee] {
    flex: 1;
}



/* _content/TGDD_Clone_2/Shared/NavMenu.razor.rz.scp.css */
.nav-logo[b-ulk490e6j3] {
    background-position: 0 0;
    width: 103px;
    height: 35px;
    background-image: url(//cdn.tgdd.vn/mwgcart/topzone/images/icon-topzone.webp);
    background-repeat: no-repeat;
    display: inline-block;
    line-height: 30px;
    vertical-align: middle;
    background-size: 514px 226px;
    
}

.nav-autho[b-ulk490e6j3] {
    background-image: url(//cdn.tgdd.vn/mwgcart/topzone/images/APR_logo.webp);
    width: 32px;
    height: 40px;
    background-size: 100%;
    background-repeat: no-repeat;
    display: inline-block;
    line-height: 30px;
    vertical-align: middle;
}
